body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.tittle{
    background: #fff;
    width: 100%;
    height: 160px;
    text-align: center;
    color: #000;
    font-size: 8em;
    font-weight: bolder;
    font-family: "Arial Black","Microsoft YaHei";
    z-index: 1;
}
.tittle p{
    background: white;
    left: 45%;
    position: absolute;
}
.p0 {
    animation: a0 200ms 2.8s ease-out forwards;
}
@keyframes a0 {
    0%{
        transform: translateX(0)
    }
    100%{
        transform: translateX(-0.8em)}
}
.p5 {
    opacity: 0;
    animation: a5 2s 1s linear forwards;
}
@keyframes a5 {
    0% {opacity: 0}
    1%{opacity: 1}
    95%{
        opacity: 1;
        transform: translateX(0)
    }
    100%{
        opacity: 1;
        transform: translateX(-0.15em)}
}
.p6 {
    opacity: 0;
    animation: a6 1s 2s ease-out forwards;
}
@keyframes a6 {
    0% {opacity: 0}
    1%{opacity: 1}
    80%{
        opacity: 1;
        transform: translateX(0)
    }
    100%{
        opacity: 1;
        transform: translateX(0.5em)}
}
.pban {
    background: #f01213!important;
    transform: translateY(2.2em);
    padding: 8px;
    line-height: 1.3em;
    left: 62%!important;
    position: absolute;
    border-radius: 4px;
    opacity: 0;
    color: #fff;
    font-size: 0.4em;
    font-weight: bolder;
    font-family: "Arial Black","Microsoft YaHei";
    animation: aban 0.4s 3.5s linear forwards;
}
@keyframes aban {
    0%{opacity: 0}
    10%{opacity: 1}
    30%{opacity: 0}
    50%{opacity: 1}
    60%{opacity: 0}
    80%{opacity: 1}
    90%{opacity: 0}
    100%{opacity: 1}
}
.years {
    width: 100%;
    margin-top: 20%;
    text-align: center;
    color: #555;
    font-size: 4em;
    height: 1.1em;
    overflow: hidden;
    font-family: "Arial","Microsoft YaHei";
    opacity: 0;
/*    transform: translateY(6em);*/
    animation: aY 100ms 4.5s linear forwards;
}
@keyframes aY {
    0%{opacity: 0}
    100%{opacity: 1}
}
.years span{
    display: inline-block;
    background: white;
    left: 50%;
}
#aY1 {
    animation: aY1 200ms 5.5s ease-in-out forwards;
}
@keyframes aY1 {
    0%{transform: translateY(0em)}
    100%{transform: translateY(-1.16em)}
}
#aY9 {
    animation: aY9 2s 5.4s ease-in-out forwards;
}
@keyframes aY9 {
    0%{transform: translateY(0em)}
    100%{transform: translateY(-11.7em)}
}
.cover {
    margin-top: 20px;
    padding: 0;
    width: 100%;
    background: rgba(240,18,19,1);
}
.coverpic {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    background: url("./images/126.jpg" ) no-repeat center;
    animation: coverpic 4s 6s ease-out forwards;
}
@keyframes coverpic {
    0% {
        height: 0;
        opacity: 0;
    }
    30%{
        height: 320px;
        opacity: 0.1;
    }
    100%{
        height: 320px;
        opacity: 1;
    }
}
.typebox{
    width: 80%;
    height: 900px;
    margin: 10%;
    box-sizing: border-box;
    text-align: left;
    position: absolute;
    color: #555555;
    font-size: 2.4em;
    opacity: 0;
    animation: typedbox 10ms 10.8s linear forwards;
}
@keyframes typedbox {
    0%{opacity: 0}
    100%{opacity: 1}
}
.typebox1{
    background: #fff;
    position: absolute;
    width: 80%;
    height: 900px;
    margin: 10%;
    box-sizing: border-box;
    text-align: left;
    color: #555555;
    font-size: 2.4em;
    opacity: 0;
    animation: typedbox 10ms 20s linear forwards;
}
@keyframes typedbox {
    0%{opacity: 0}
    100%{opacity: 1}
}
.typebox2{
    background: #fff;
    position: absolute;
    width: 80%;
    height: 900px;
    margin: 10%;
    box-sizing: border-box;
    text-align: left;
    color: #000;
    font-size: 2.8em;
    opacity: 0;
    animation: typedbox 10ms 29.2s linear forwards;
}
@keyframes typedbox {
    0%{opacity: 0}
    100%{opacity: 1}
}
.come {
    background: #ffffff url("./images/76.jpg") no-repeat center;
    position: absolute;
    width: 80%;
    height: 1000px;
    margin: 10%;
    box-sizing: border-box;
    text-align: center;
    color: #000;
    font-size: 4em;
    opacity: 0;
    animation: typedbox 10ms 36s linear forwards;
}
@keyframes typedbox {
    0%{opacity: 0}
    100%{opacity: 1}
}